body {
  margin: 0;
  font-size: 0;
  background-color: #e8f0fe;
}

body #root {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

body .product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  padding: 0;
  font-family: 'Marko One',serif;
  font-size: 26px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: black;
}

p {
  margin: 0 0 10px;
  padding: 0;
  font-family: 'Marko One',serif;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: black;
}
